* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  // background-color: rgba(251, 249, 249, 0.65);
  background-color: #303030f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .3%;
  main {
    width: 99.2%;
    height: 99%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(251, 249, 249, 0.9);

    section {
      height: 100%;
      display: flex;
      flex-direction: column;

      &:nth-of-type(1) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        div {
          width: 230px;
          transform: translate(90px, 83px);
          font-family: 'Times New Roman', Times, serif;
          
          h1 {
            font-size: 21px;
            margin-bottom: 10px;
            font-weight: 500;
            font-family: 'Raleway';
          }
          p {
            font-size: 17px;
          }
        }

        ion-icon {
          position: absolute;
          bottom: 195px;
          left: 190px;
          font-size: 30px;
          animation: reveal infinite 2s ease-in;
          &:hover {
            cursor: pointer;
          }
        }

        @keyframes reveal {
          0% { opacity: 1 }
          6% { opacity: 1 }
          80% { opacity: 0 }
          100% { opacity: 1 }
        }


        circle {
          fill: transparent;
          stroke: black;
          stroke-width: 1;
          stroke-dasharray: 1300;
          stroke-dashoffset: 1300;
          animation: rotate 2s linear forwards;
          &:hover {
            cursor: pointer;
          }
        }

        @keyframes rotate {
          to { stroke-dashoffset: 0 }
        }
      }

      &:nth-of-type(2) {
        height: 90vh;
        width: 490px;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;
        transform: translateY(20px);
        h1 {
          line-height: 190px;
          color: #303030f6;
          font-size: 250px;
          font-family: "Saol Display Regular";
          letter-spacing: 5px;

          &:nth-of-type(2) {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
