* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=fbf9f9ff&noise=8f8f8f&density=15&opacity=26");
  &::-webkit-scrollbar {
    display: none
  }
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    .loading {
      color: white;
      width: 100%;
      height: 100%;
      position: ab;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #121212;

      #progress-bar {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.425);
        height: 2px;
        transition: width 0.6s ease-out;
      }

      h1 {
        font-size: 95px;
        font-family: "Saol Display Regular";
        margin-bottom: -7px;
      }
    }

    header {
      height: 20%;
      width: 100%;
      position: fixed;
      display: flex;
      // justify-content: space-evenly;
      align-items: center;
      // opacity: 0;
      z-index: 1;

      div {
        height: 3px;
        background-color: #303030c0;
        // animation: width 0.3s forwards ease-out;
        animation-delay: 7.3s;
      }

      @keyframes width {
        from {
          width: 0;
        }
        to {
          width: 35%;
        }
      }

      span {
        font-family: "Saol Display Regular";
        font-size: 5.5vmin;
        letter-spacing: 1.2px;
        width: 20%;
        color: black;
        text-align: center;
        // animation: show 0.8s forwards ease-out;
        animation-delay: 7s;
        // opacity: 0;

        &:nth-of-type(2) {
          color: brown;
          width: 45%;
          // animation: show 0.8s forwards ease-out;
          // opacity: 0;
          animation-delay: 7.6s;
        }
      }
    }

    input {
      position: fixed;
      transform: rotate(90deg);
      right: 0%;
      bottom: 30%;
      -webkit-appearance: none;
      width: 25vh;
      height: 2px;
      outline: none;
      background: black;
      transition: 0.5s;
      z-index: 10;

    }
    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;
      background: rgb(0, 0, 0);
    }

    .content {
      background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=fbf9f9ff&noise=8f8f8f&density=15&opacity=26");
      // position: absolute;
      background-attachment: fixed;
      // left: 0;
      height: 100%;
      width: 100%;
      position: relative;
      // height: 2px;
      // width: 0;
      // overflow: hidden;

      .buffer {
        height: 15.5%;
        width: 100%;
      }

      section {
        color: #303030;
        width: 100%;
        height: 80%;
        // opacity: 0;
        padding: 4%;

        p {
          font-size: 8.8vmax;
          font-family: "raleway";
          letter-spacing: 1px;
          line-height: 20vmin;

          small {
            font-weight: bold;
            font-size: 8.8vmax;
          }
        }

        ion-icon {
          position: absolute;
          bottom: 93px;
          right: 215px;
          font-size: 30px;
          opacity: 0;
          animation: show 0.2s forwards;
          animation-delay: 7.8s;
          &:hover {
            cursor: pointer;
          }
        }

        @keyframes show {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        svg {
          position: absolute;
          right: 120px;
          bottom: 0;

          circle {
            fill: transparent;
            stroke: black;
            stroke-width: 1.3;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: rotate 1s linear forwards;
            animation-delay: 0.5s;

            &:hover {
              cursor: pointer;
            }
          }

          @keyframes rotate {
            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }

  // ABOUT

  #about {
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=fbf9f9ff&noise=8f8f8f&density=15&opacity=26");
    width: 100vw;
    height: 100vh;
    padding: 4% 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-attachment: fixed;

    header {
      width: 45%;
      height: 10%;
      align-self: flex-end;
      border-top: 3px solid black;
      font-family: "Raleway";
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 35px;
        color: black;
      }

      span {
        font-size: 25px;
        color: brown;
        font-weight: 500;
      }
    }

    section {
      width: 100%;
      height: 85%;
      display: flex;

      flex-direction: column;

      justify-content: space-around;
      align-items: center;

      div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-of-type(1) {
          p {
            font-size: 21px;
            font-family: "Courier New", Courier, monospace;
            color: black;
            letter-spacing: -1px;
          }
        }
        &:nth-of-type(2) {
          height: 66%;
          color: black;
          h1 {
            font-family: "raleway";
            font-size: 25px;
          }
          li {
            list-style: disc;
            font-family: "Courier New", Courier, monospace;
            transform: translate(26px, 25px);
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  header {
    h6 {
      transform: translateY(12px) !important;
    }
  }
}
