* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-color: #121212;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

// .cursor {
//   width: 500px;
//   height: 300px;
//   position: absolute;
//   // animation: pulse 0.6s alternate infinite linear;
//   transition: 0.5s ease-out;
//   background: transparent;
//   background-image: url('https://media.makeameme.org/created/smile-and-make.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   z-index: 1;
// }

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;

  main {
    height: 100vh;
    min-width: 100vw;
    background-color: #121212;
    // background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=121212ff&noise=8f8b8f&density=7&opacity=20');
    margin: 10vw 0;
    .loading {
      height: 100%;
      width: 100%;
      background-color: #121212;
      // background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=121212ff&noise=8f8b8f&density=7&opacity=20');
      display: flex;
      justify-content: center;
      align-items: center;
      .quote {
        width: 45%;
        color: white;
        font-family: "Courier New", Courier, monospace;
        h1 {
          border-bottom: 1px solid white;
          padding-bottom: 4px;
          margin-bottom: 5%;
        }
        p {
          text-align: justify;
          &:hover {
            cursor: pointer;
          }
          span {
            font-size: 16px;
            &:hover {
              cursor: pointer;
            }
          }

          .Typist .Cursor {
            display: inline;
            color: white;
            &--blinking {
              opacity: 1;
              animation: blink 0.7s linear infinite;
              @keyframes blink {
                0% {
                  opacity: 1;
                }
                50% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      #progress-bar {
        position: absolute;
        left: 0;
        background-color: rgba(255, 255, 255, 0.575);
        height: 2px;
        transition: 0.6s ease-out;
      }

      #count {
        position: absolute;
        font-size: 90px;
        font-family: "Saol Display";
        color: rgba(255, 255, 255, 0.94);
        opacity: 0;
        transform: translateY(-10px);
        font-weight: lighter;
      }

      .follow {
        position: absolute;
        background-color: peachpuff;
        height: 2px;
        width: 0;
        left: 0;
      }
    }
    .content {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
      font-family: raleway;
     

     

      #scroll {
        height: 2px;
        width: 90px;
        transform: rotate(90deg);
        background-color: white;
        position: absolute;
        bottom: 10%;
        right: 1.5%;
        &::before {
          content: 'SCROLL';
          display: block;
          position: absolute;
          left: -90%;
          transform: translateY(-10px);
          color: white;
          display: flex;
          justify-content: center;
          font-weight: 500;
        }
      }

      section {
        &:nth-of-type(1) {
          height: 20%;
          padding-top: 3vh;
          width: 95%;
          h1 {
            color: white;
            text-align: end;
            font-size: 7vmax;
            margin-bottom: -4.5vw;
            font-weight: lighter;
          }
          h2 {
            color: white;
            text-align: end;
            font-size: 4vmax;
            margin-bottom: -7vw;
            font-weight: lighter;
          }
        }
        &:nth-of-type(2) {
          height: 75%;
          position: relative;
          overflow: hidden;
          h3 {
            color: white;
            font-size: 8.3vw;
            margin-bottom: -11.1vw;
            padding-left: 5%;
            letter-spacing: 2px;
            position: relative;
           

            &:nth-of-type(1) {
              background-color: white;
              color: black;
              width: 55%;
              font-size: 7vw;
            }

           

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
              z-index: 5;
              border-top: 1px solid rgba(128, 128, 128, 0.63);
              padding-top: 1%;
              &:hover {
                color: pink;
                text-decoration: line-through;
                font-style: italic;
                padding-left: 7%;
                cursor: pointer;
                transition: 0.3s;
              }
              
            }
          
            &:nth-of-type(2),
            &:nth-of-type(4) {
              padding-left: 12%;
              &:hover {
                padding-left: 15%;

              }
            }

            &:nth-of-type(4) {
              border-bottom: 1px solid grey;
              padding-bottom: 2%;
            }
          }
        }
      }

      // p {
      //   font-family: 'raleway';
      //   font-size: 5.7vw;
      //   line-height: 0vh;
      //   font-weight: 400;
      //   margin: 7vw 0;
      // }

      // div {
      //   height: 100vh;
      //   display: flex;
      //   justify-content: center;
      //   flex-direction: column;
      //   overflow: hidden;
      //   p {
      //     font-family: 'raleway';
      //     color: white;
      //     font-size: 10vw;
      //     line-height: 0vh;
      //     font-weight: 400;
      //     opacity: 0;
      //     margin: 4.2vw 0;
      //     span {
      //       color: peachpuff;
      //     }

      //     &:nth-of-type(1) {
      //       transform: translateX(8%);
      //     }
      //     &:nth-of-type(2) {
      //       transform: translateX(12%);
      //     }
      //     &:nth-of-type(3) {
      //       transform: translateX(3%);
      //     }
      //     &:nth-of-type(4) {
      //       transform: translateX(13%);
      //     }
      //     &:nth-of-type(5) {
      //       transform: translateX(9%);
      //     }
      //   }
      // }
    }
  }



  #para {
    background-color: #121212;
    color: white;
    margin: 10vw 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // z-index: 7;
    // position: relative;
    // opacity: 0;

    h1 {
      font-size: 10vw;
      width: 80%;
      // background-color: white;
      color: pink;
    }

    p {
      width: 80%;
      font-size: 5vw;
      small {
        font-size: 5vw;
        // background-color: white;
        // color: pink;
        // color: pink;
      }
    }
  }

  .proj-container {
    width: 100vw;
    margin: 20vw 0;
    display: flex;
    justify-content: space-around;


    .proj-image {
      width: 290px;
      height: 650px;
      position: relative;
      canvas {
        border-radius: 30px;
        filter: brightness(90%);
      }
      &::after {
        content: 'PROJ WRK 1';
        display: block;
        transform: rotate(90deg);
        color: white;
        position: absolute;
        right: -23%;
        bottom: 10%;
      }
    }

    h1 {
      position: absolute;
      bottom: -150px;
      z-index: 1;
      left: -200px;
      font-size: 100px;
      font-family: 'poiret one';
      color: white;
    }
  }
}

@media only screen and(max-width: 1100px) {
  .quote {
    width: 60% !important;
  }
  section {
    &:nth-of-type(1) {
      height: 35% !important;
    }
    &:nth-of-type(2) {
      height: 65% !important;
    }
  }
}

@media only screen and(max-width: 600px) {
  .quote {
    width: 82% !important;
  }
  section {
    &:nth-of-type(1) {
      height: 35% !important;
    }
    &:nth-of-type(2) {
      height: 65% !important;
      h3 {
        padding-top: 3% !important; 
        font-size: 9.5vw !important;
        &:nth-of-type(1) {
          font-size: 8vw !important;
          padding: 3% !important;
        }
      }
    }
  }
}
